{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Foodfy - Novo chefe</title>
{% endblock head %}

{% block content %}
<form id="form-save" action="/admin/chefs" method="post">
    <div class="chef-header">
        <h2>Criando chef</h2>
        <div>
            <button form="form-save" type="submit">Salvar chef</button>
        </div>
    </div>

    {% include "admin/chefs/fields.njk" %}
    
</form>
{% endblock content %}