{% extends "layouts/public.njk" %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock head %}

{% block content %}

<div class="container-chefs">
  <div class="chefs-index">
    <section class="chefs">
      {% for chef in chefs %}
        <div class="chef">
          <div class="container-image">
            <span style="background-image: url({{chef.avatar_url}})"></span>
          </div>
          <div>
            <div>{{chef.name}}</div>
            <div>{{chef.total_recipes}}
              receitas</div>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
</div>

{% endblock content %}