{% extends "layouts/public.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock head %}

{% block content %}

<div class="container-dishes">
    <section class="dishes">

        {% for recipe in recipes %}
        <div id="{{recipe.id}}" class="dish">
            <div class="container-image">
                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            </div>
            <h1>{{recipe.title}}</h1>
            <h2>por {{recipe.chef_name}}</h2>
        </div>
        {% endfor %}

    </section>
</div>

{% endblock content %}


