{% extends "layouts/public.njk" %}

{% block head %}
    <title>Foodfy - Buscando receitas</title>
{% endblock head %}

{% block header %}
<div class="header">
  <div class="links">
      <a class="image" href="/"><img src="/assets/logoBlack.png" alt="Foodfy Logo"></a>
      <a href="/about">Sobre</a>
      <a class="active" href="/recipes">Receitas</a>
      <a href="/chefs">Chefs</a>
  </div>

  <form class="filters" action="/searchRecipe" method="GET">
      <input
          type="text"
          name="filter"
          placeholder="Buscar uma receita"
          value="{{filter}}"
      >

      <button type="submit">Buscar</button>
  </form>
</div>
{% endblock header %}

{% block content %}

<h2 style="margin-top: 30px">Buscando por "{{filter}}"</h2>

<div class="container-dishes">
    <section class="dishes">
        {% if recipes.length > 0 %}
            {% for recipe in recipes %}
            <div id="{{recipe.id}}" class="dish">
                <div class="container-image">
                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                </div>
                <h1>{{recipe.title}}</h1>
                <h2>por {{recipe.chef_name}}</h2>
            </div>
            {% endfor %}
        
        {% else %}
            <h3>Nenhuma receita encontrada!</h3>
        {% endif %}

    </section>
</div>
{% endblock content %}
