<!DOCTYPE html>

<html>

    <head>

        {% block head %}
        <title>Foodfy</title>
        {% endblock head %}
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header class="admin">
            <div class="links admin">
                <a class="image" href="/"><img src="/assets/logoWhite.png" alt="Foodfy Logo"></a>
                {% block links %}
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
                {% endblock links %}
            </div>
        </header>

        {% block content %}

        {% endblock content %}

    </body>

</html>