{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Foodfy - Nova receita</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock head %}

{% block content %}
<div id="wrapper">
    <form id="form-save" action="/admin/recipes" method="post">
        <div class="recipe-header">
            <h2>Nova receita</h2>
            <div>
                <button form="form-save" type="submit">Salvar receita</button>
            </div>
        </div>

        {% include "admin/recipes/fields.njk" %}

    </form>
</div>
 
{% include "fieldManager.njk" %}

{% endblock content %}