{% extends "layouts/public.njk" %}

    {% block head %}
        <title> Foodfy | Page not found </title>
    {% endblock %}

    {% block content %}

    <div id="wrapper" class="container-info-nf">
        <h1 class="not-found"> Error 404: Page requested not found :/</h1>  
        <h2> Ei, essa página não pode ser encontrada</h2>  
    </div>

    {% endblock %}